.main {
    display: flex;
    justify-content: space-around;
    padding: 5em;
    padding-top: 5em;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    transition: 1s;
}

.main__conteudo {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    width: 50%;
    height: auto;
}

.main__conteudo h1 {
    font-size: 40px;
    color: #3ABFA7;
}

.main__conteudo p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.main__conteudo button {
    width: 250px;
    height: 60px;
    background: #3ABFA7;
    border-radius: 40px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 24px;
    border: none;
}


.main img {
    width: 100%;
}

.main__img {
    width: 40%;
}